@use '@angular/material' as mat;
@use 'styles/tokens';
@use 'styles/reset';
@use 'styles/base';
@use 'styles/compact-field';
@use 'styles/table-checkbox';
@use 'app/features/lotes/pages/lote-detail-page/lote-detail-page';

@include mat.core();

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$azure-palette,
        theme-type: light,
      ),
      typography: Asap,
      density: -2,
    )
  );
}
